body {
	margin: 0;
	padding: 0;
	background-color: 
}

.container {
    margin: auto;
    width: 80%;
    display: block;
    text-align: center;
}    

.image {
    width: 200px;
    padding: 3px;
    opacity: 0;
}

/*.image:hover {
	opacity: 100;
	transform: rotate(5deg);
}*/

.image:hover {
   opacity: 100;
   transition: opacity 3s ease-in-out;
   -moz-transition: opacity 3s ease-in-out;
   -webkit-transition: opacity 3s ease-in-out;
}