body {
	margin: 0;
	padding: 0;
	background-color: white;
}


.title {
	margin: auto;
	height: 50px;
	top: 0;
	padding: 1em;
    position: fixed;
}

a {
	text-decoration: none;
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}

.title:hover {
	transform: rotate(-3deg);	
}

.container {
    margin: auto;
    width: 80%;
    display: block;
    text-align: center;
}    

.image {
    width: 200px;
    padding: 3px;
}

.image:hover {
	transform: rotate(5deg);
	cursor: pointer;
}
