
.home {
    top: 5px;
    left: 5px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
    color: black;
    position: fixed;
    text-decoration: none;
    z-index: 100000000;
}

.next {
    top: 5px;
    right: 5px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
    color: black;
    position: fixed;
    text-decoration: none;
    z-index: 100000000;
}


.previous {
    bottom: 5px;
    right: 5px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
    color: black;
    position: fixed;
    text-decoration: none;
    z-index: 100000000;
}




.next:hover {
    opacity: 0;
}

.previous:hover {
    opacity: 0;
}

.home:hover {
    opacity: 0;
}