.whitespace {
  width: 100%;
  height: 30px;
  z-index: -1;
}

a.line1 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FFC8C8;
  margin-top: 30px;
}

a.line2 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FFB4B4;
  
}

a.line3 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FFA9A9;
  
}

a.line4 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FF9999;
    
}

a.line5 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FE8B8B;
  
}

a.line6 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FF7A7A;
  
}

a.line7 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FF6C6C;
  
}

a.line8 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FF5454;
  
}

a.line9 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FF3E3E;
  
}

a.line10 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FF2E2E;
  
}

a.line11 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FF1818;
  
}

a.line12 {
  font-style: bold;
  font-size: 90px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color:#FC0000;
  
}




