
body {
	background-color: white;	
}

a {
	text-decoration: none;
	color: rgb(249,	5, 142);
}

a:hover {
	background-color: red;
	color: red;
}

p {
	font-family: "Arial", Helvetica, sans-serif;
  	font-size: 20px;
  	color: black;
  	line-height: 25px;
}


.container {
	width: 500px;
	margin-left: 20px;
	margin-top: 20px;
}

.question {
	padding-left: 30px;
}