
html, body { 
	background: white;
	font-family: "Arial", Helvetica, sans-serif;
  	font-size: 22px;
  	letter-spacing: 2px;
  	padding-left: 10px;
  	padding-top: 10px;
  	cursor: pointer;
}

/*.hand1 {
    position: absolute;
}
*/

#navcontainer {
	width: 480px;
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 30px;
}

nav {
    display: block;
    list-style-type: none;
    height: 60px;
    text-align: right;
}

nav li {
    display: block;
    position: relative;
}

nav li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 13px 10px;
    text-align: left;
}

nav li a:hover {
    -webkit-transition: none;
}

nav nav {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    height: 0;
    margin-top: -10px;
}

nav nav li {
    float: right;
}

nav li:hover nav {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}


.hand {
	display: inline-block;
	text-align: right;
}

.hand:hover {
	cursor: none;
}

.container {
margin-right: 40px auto;
}

.row {
	display: block;
	color: white;
}

.row:hover {
	color: black;
}

a {
	display: block;
	text-decoration: none;
	color: white;
	font-family: "Arial", Helvetica, sans-serif;
  	font-size: 22px;
  	letter-spacing: 2px;

}

a:hover {
	color: black;
}

.hand:hover {
	opacity: 0;
}




/*.one {
.element {
  clip-path: rect(10px, 20px, 30px, 40px);
}

.one:hover {
  clip-path: rect(px, 20px, 30px, 40px);
}

*/
/*.one {
  shape-inside: polygon(0 0,  500px 0, 350px 300px, 150px 300px);
  shape-padding: 20px;
  transition: all 2s ease; 
  -webkit-clip-path: polygon(0 0,  500px 0, 350px 300px, 150px 300px);
} 
.one:hover {
  shape-inside: polygon(150px 0, 350px 0, 500px 300px, 0px 300px);
  -webkit-clip-path:  polygon(150px 0, 350px 0, 500px 300px, 0px 300px);
 /* shape-inside: circle(50%, 50%, 50%);
  -webkit-clip-path: circle(50%, 50%, 50%); */
/*} */