body { 
	background-image: url("rungstedlund_1.jpg"); 
	position: absolute;
}

@media screen and (max-width: 768px) {
  body { background-image: url("rungstedlund_2.jpg"); }
}

@media screen and (max-width: 600px) {
  body { background-image: url("rungstedlund_3.jpg");  }
}

@media screen and (max-width: 480px) {
  body { background-image: url("rungstedlund_4.jpg");  }
}

@media screen and (max-width: 320px) {
  body { background-image: url("rungstedlund_5.jpg"); }
}